<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidtecknowlogy.tym.cast" >

    //Internet permission
    <uses-permission android:name="android.permission.INTERNET"/>
    //Vibrate permission
    <uses-permission android:name="android.permission.VIBRATE"/>
    //Call permission
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".complete_signup.activity_view.GoogleSignInActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".cast.activity_view.CastActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto"/>
                <data android:scheme="smsto"/>
                <data android:mimeType="text/plain"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        //FireBase messaging service
        <service android:name=".service.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        //FireBase instance id service
        <service android:name=".service.InstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        //Connection receiver
        <receiver android:name=".helper.io.ConnectionReceiver"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>